<div class="card card-w-title">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          User Name:
        </div>
        <div class="ui-grid-col-8">
          <input type="email" placeholder="Email" pInputText required [(ngModel)]="email" name="email" #userEmail="ngModel">
  
          <div *ngIf="!userEmail.valid && userEmail.touched">
            Email is required!
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Password:
        </div>
        <div class="ui-grid-col-8">
          <input type="password" placeholder="Password" pInputText required [(ngModel)]="password" name="password" #userPassword="ngModel">
          <div *ngIf="!userPassword.valid && userPassword.touched">
            Password is required!
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4 ui-md-offset-8">
          <button pButton type="submit" label="Register" style="width:100px;" [disabled]="!registerForm.form.valid">
          </button>
        </div>
      </div>
    </div>

  </form>
</div>